main {
    min-height: 100vh;
    position: relative;
}


#main-content-wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.full-section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}